<div>
  <%= link_to 'New', new_performance_path%>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Start date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @performances.each do |performance| %>
      <tr>
        <td><%=performance.title%></td>
        <td><%=performance.show_dates%></td>
        <td><%=link_to "delete", performance, method: :delete%></td>
      </tr>
    <% end %>
  </tbody>
</table>
